// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  overflow-x: hidden;
  min-height: 100%;
  @include mat.theme((color: (primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  overflow-x: hidden;
  margin: 0;
  min-height: 100%;
}

.panel {
  @include mat.expansion-overrides((container-background-color: var(--mat-sys-surface-variant),
      header-text-color: var(--mat-sys-on-surface-variant)));
}

.dialog-button {
  @include mat.button-overrides((tonal-container-color: var(--mat-sys-secondary-container),
      tonal-label-text-color: var(--mat-sys-on-secondary-container),
      tonal-container-height: 48px));
}

.paginator {
  @include mat.paginator-overrides((enabled-icon-color: var(--mat-sys-primary)));
}

.compact-fields {
  @include mat.form-field-density(-3);
  @include mat.select-density(-3);
}

.progress {
  @include mat.progress-bar-overrides((active-indicator-height: 6px,
      track-height:6px));
}